.card {
  box-shadow: 0 3px 7px rgba(99, 97, 97, 0.2);
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}
.status {
  width: 200px;
  box-shadow: 0 3px 7px rgba(99, 97, 97, 0.2);
  height: 100%;
  padding: 20px 10px;
  background-color: white;
  margin: 5px;
}
.stat {
  font-size: 17px;
  text-align: left;
}
.name {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: #3b4241;
}
.MuiTypography-body1 {
  font-size: 0.8rem;
}
/* 
.makeStyles-drawerPaper-55 {
  height: 100vh !important;
  border: 2px solid black !important;
  overflow-y: hidden !important;
} */

/* .user-container {
  height: 100vh !important;
  border: 2px solid black !important;
  overflow-y: scroll !important;
} */

.MuiAppBar-colorPrimary {
  background: white;
  color: #05386b;
}

.MuiSvgIcon-root {
  color: #fff;
}

.side-accordion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-link {
  text-decoration: none;
  color: white;
  margin-left: 17px;
  margin-top: 15px;
  font-size: 16px;
}

.side-link1 {
  text-decoration: none;
  color: white;
  margin-left: 17px;
  margin-top: 9px;
  font-size: 16px;
  cursor: pointer;
}

.modal-container {
  width: 87%;
  margin: auto;
  display: flex;
}

.modal-container:hover {
  background: "#379683";
}

.modal-icon {
  margin-top: 15px;
}

.modal-div {
  margin-left: 12px;
}

.side-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side-icon {
  color: #05386b;
}

.user-name {
  width: 60%;
  margin: auto;
}

.user-name p {
  margin: auto;
  font-size: 17px;
  margin: 6px 0;
}

.side-image {
  width: 60%;
  margin: auto;
  position: relative;
}

.side-image div {
  position: absolute;
  bottom: 10%;
  left: 40%;
}

.side-image img {
  max-width: 60%;
  width: 60%;
  height: 90px;
  max-height: 90px;
  margin: auto;
  border-radius: 49%;
}

.side-add {
  position: relative;
}

.side-add input {
  opacity: 0;
  width: 25px;
  position: absolute;
  bottom: 45%;
}

.add-icon {
  position: absolute;
  bottom: 45%;
}

/* Notification styles */

.notify-icon {
  color: #05386b !important;
  padding-right: 5px;
}

.notify-menu {
  background-color: rgb(223, 217, 217);
  width: 100%;
  height: 100%;
}

.notify-text {
  font-size: 13px;
}

.notify-head {
  display: flex;
  justify-content: space-between;
}

.notify-head p {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #05386b;
}

.notify-head button {
  margin-right: 10px;
  border: none;
  background: transparent;
  color: #05386b;
}

.menu-dropdown {
  max-height: 400px;
  min-width: 200px;
}

/* Logo styles */

.logolink {
  height: 30px;
  margin: auto 0;
}

.logo {
  height: 30px;
  margin: auto 0;
}

.hamburg {
  color: #05386b;
}

@media (max-width: 600px) {
  .MuiAppBar-colorPrimary {
    color: #05386b !important;
    background-color: #fff !important;
  }
  .logo {
    margin: auto auto;
  }
}
.active {
  background-color: red;
}

@media (max-width: 600px) {
  .appbar {
    background: #009be5 !important;
  }
  .text {
    color: white;
  }
}
.appbar {
  margin: 0 !important;
  padding: 0 !important;
}
@media screen and (max-width: 600px) {
  .appbar {
    /* width: 100vw !important */
  }
}

.modal {
  width: 400px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 1000;

  /* @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  } */
}
h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.content {
  padding: 1rem;
}

.actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}
button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}
.red {
  background: black;
  color: red;
}
.blue {
  background: blue;
  color: red;
}

.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
}

#centered-toggle-button {
  position: absolute;
}
/* @media (prefers-reduced-motion) {
  offset-path: none;
} */
